<h1>Welcome to the Dashboard Page</h1>

<p>Logged in as <%= current_user.email %></p>
  <% flash.each do |key, message|%>
        <div class="alert">
          <%= message%>
        </div>
      <%end%>
  <%= link_to 'Logout', logout_path, method: :delete %>

