<div id="<%= dom_id hour %>">

  <p>
    <%= hour.start_time.strftime("%l:%M%P") %>
     - 
    <%= hour.end_time.strftime("%l:%M%P") %>
  </p>

  <%= button_to 'Delete', delete_hour_path, method: :delete, params: {id: hour.id} %>

</div>
