<html>
  <head>
    <title>Login</title>
    <%= stylesheet_link_tag 'index', media: 'all' %>
  </head>
  <body>
    <div class="login-container">
        <h1>Welcome to the Home Page</h1>
        <% if current_user %>
          <p>Logged in as <%= current_user.email %></p>
          <%= link_to 'Logout', logout_path, method: :get, class: 'button' %>
        <% else %>
          <%= link_to 'Login', login_path, class: 'button' %>
        <% end %>
    </div>
  </body>
</html>