<% if service.is_published %>
    <li class="service">
        <h3 class="service-title"><%= service.title %></h3>
        <p class="service-description"><%= service.description %></p>
        <p class="service-price-duration"><%= "$#{service.price} for #{service.duration} minutes" %></p>
    </li>
<% end %>