<html>
    <head>
        <title>User Not Found</title>
        <%= stylesheet_link_tag "user_not_found.css" %>
    </head>
    <body class="user-not-found-body">
        <p><h1>User <%= @username %> does not have a public page set up.</h1><br>
        <%= link_to 'go to dashboard', root_path, :class => 'return-to-dash-link' %>
    </body>
</html>
