/* login.css */

/* Example styles */
.index-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #737171;
    border-radius: 5px;
    background-color: #f7f7f7;
  
  }
  
  .index-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .index-container label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
    

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }