.reset-body {
    background-color: #565656;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.reset-header {
    font-size: 3vw;
    margin: 0;
    margin-bottom: 5vh;
}

.reset-input-box {
    border: none;
    border-radius: 5px;
    width: 65%;
    height: 4%;
    font-size: 1vw;
    text-align: center;
}

.label-class{
    float: left;
    text-align: left;
    align-items: normal;
    justify-content: left;
}

.reset-button {
    background-color: #f0f0f0;
    color: #525252;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.reset-return-to-login {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5vw;
    margin-top: 5vh;
}

.reset-return-to-login:hover {
    text-decoration: underline;
}

.reset-valid-invalid {
    font-size: 1vw;
}
.warning{
    padding-bottom: 15px;
    font-size: small;
}