.public-page-html {
    background-color: #e6e6e6;
}

.public-page-body {
    display: flex;
    padding: 0;
    margin: 0;
}

.public-page-aside {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh);
    background-color: #565656;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: whitesmoke;
    position: fixed;
    overflow: hidden;
}

.public-page-main {
    padding: 20px;
    height: calc(100vh);
    flex: 1;
    margin-left: 40%; /* Adjust this margin to match the width of the left section */
    box-sizing: border-box;
    overflow-y: scroll;
}

.service-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
    grid-gap: 20px; /* Spacing between grid items */
}

.service {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.service-title {
    font-size: 1.7em;
}

.service-description {
    font-size: 1.2em;
    margin: 0;
}

.service-price-duration {
    font-size: 1em;
    margin-bottom: 0;
}

.user-full-name {
    font-size: 3em;

}

.user-description {
    font-size: 1.5em;
    padding: 0 25px 0 25px;
}