<head>
  <link rel="stylesheet" href="/assets/dashboard_sidebar.css">
</head>
<div class="navigation_menu">
 <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
            <!--menu item-->
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">My Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Edit Public Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Services</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div> 
    <%# <aside class="sidebar">
  <ul>
    <li><%= link_to "Dashboard", dashboard_path %></li>
    <!-- Add more menu items as needed -->
  <%# </ul> %>
<%# </aside> %>